*{
   font-family: 'Roboto', sans-serif;
}

body{
   background: linear-gradient(93deg, #251414 20.76%, #7e0303 78.80%);
}

nav{
   display: flex; /* ponerlos uno al lado del otro */
   justify-content:space-around;/* con esto justificamos el espacio */
   align-items: center;/* con esto alineamos el codigo */
}

nav span{
   color: white;
   font-weight: bold;/* bold sirve para poner en negrilla */
   font-size: 20px;
}

nav ul{
   display: flex;
   list-style: none;
}

nav ul li{
   margin: 0 30px;/* separar las li */
}

nav ul li a{
   text-decoration: none; /* quita el subrayado */
   color: white;
   font-size: 30px; /* todo lo que sea texto lleva fond */
}

.btn{
   background-color:#7e0303 ;
   border-color: #8f0100;
   font-size: 25px;
}


.btn a {
   text-decoration: none;
   color: white;
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}
nav button{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
   font-size: 40px;
   color: white;
   font-family: 'Roboto', sans-serif;
}

span{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   font-size: 50px;
   color: white;
   font-family: 'Roboto', sans-serif;
}

.parrafo1{
   display: flex;
   justify-content: center;
   margin-top: 60px;
   color: white;
   font-size: 25px;
   font-family: 'Playpen Sans', cursive;
}

.span1{
   display: flex;
   justify-content: center;
   color: white;
   font-size: 25px;
   font-family: 'Playpen Sans', cursive;
}

.instrumentos{
   color: white;
   margin-top: 60px;
   margin-left: 60px;
}

main ul li{
   font-size: 25px;
}

main ul{
   display: flex;
   justify-content: space-evenly;
}

main h1{
   display: flex;
   justify-content: center;
   align-items: center;
}

img{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 130px;
   border-radius: 30px;
}

h2{
   font-size: 10px;
   list-style: none;
}

ul{
   list-style: none;
   text-decoration: none;
   color: white;
}

p{
   font-size: 20px;
   color: white;
}

div p{
   font-size: 30px;
   align-items: center;
   justify-content: center;
   display: flex;
   text-align: center;
   color: white;
   margin-right: 100px;
   margin-left: 100px;
}

main ul li h2{
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 15px;
   text-align: center;
   margin-right: 5px;
}